.intro{
  background-color: #eacccc;
  padding: 15px;
  text-align: center;
  justify-content: center;
  display: flex;
  gap: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}
.intro a {
text-decoration: none;
color: rgb(81, 76, 76);
margin: 0 15px;
font-size: larger;
font-weight: bold;
}

.nav{
    background-color: rgb(241, 239, 236);
    display: flex;
    gap: 200px;
    justify-content: center;
    border-radius: 20px;padding: 15px;
}
.nav a {
    text-decoration: none;
  color: #333; /* Dark text for links */
  font-weight: 900;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
body{
    background-color: aliceblue;
}
.logo {
  display: flex;
  flex-direction: column; /* puts text UNDER the image */
  align-items: center;    /* centers everything */
  justify-content: center;
}

.logo-img {
  width: 150px; 
  /* adjust size */
  opacity: 0.35;
}

.logo-text {
  font-family: Georgia, "Times New Roman", serif;
  font-weight: bold;
  font-size: 40px;
  color: rgb(237, 156, 226);
  margin-top: 10px;
  white-space: nowrap; /* 🔥 keeps text on ONE line */
  gap: 20px;
}
.contact-card {
  width: 440px;
  margin: 20px auto;
  padding: 25px;
  background-color: aliceblue;
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);
  font-family: Arial, sans-serif;
}
.contact-card h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: Georgia, serif;
  color: rgb(112, 112, 241);
}
.icon {
  width: 22px;
  height: 22px;
  object-fit: contain;
  flex-shrink: 0;
  opacity: 0.7;

  
  
}
.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon2{
    width: 40px;
  height: 40px;
  object-fit: contain;
  flex-shrink: 0;

}
.contact-card:hover {
    transform: scale(1.05);
}
section{
  padding: 40px;
  text-align: center;
}
h3{
  color: #d35400;
  margin-bottom: 20px;
}
.about p {
max-width: 600px;
margin: auto;
line-height: 1.6;
font-weight: bold;
}
.cake-gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.cake-gallery img {
  width: 250px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
.flowers-gallery {
  display: flex;
  justify-content: centre;
  gap: 20px;
  flex-wrap: wrap;
}
.flowers-gallery img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
}
@media (max-width: 768px) {

    section {
        padding: 20px 10px;
    }

    h2 {
        font-size: 22px;
    }

    .cake-gallery img {
        width: 90%;
        height: auto;
    }

    .flower-gallery img {
        width: 120px;
        height: 120px;
    }

    .about p {
        font-size: 14px;
        padding: 0 10px;
    }
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: aqua;
  color: rgb(1, 12, 22);
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}
.btn:hover {
  background-color: #f13f20;
}
h1{
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: #a86161;
}